body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}
/* This is the header links style */
.main-container{
    width: 80%;
    padding: 5px 10px 20px 10px;
}
.add-new-record-header{
    width: 100%;
    border-bottom: 1.5px solid  #a6a6a6;
    font-family: Verdana, Geneva, sans-serif;
}
.add-option-list {
    list-style-type: none;
    padding:0;
}
.add-option-list a{
    text-decoration: none;
    padding: 15px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
}
.add-option-list a:hover{
    background-color:black;
    color: white;
    border: 2px solid white;
}
.add-option-list li {
    min-width: 120px;
    display: inline-block;  
    margin-top: 15px;
    padding: 0;
    margin-bottom: 25px;
}
/* end of the header link style*/

.add-new-person-content{
    margin-top: 25px;
    padding-left: 40px;
}
.add-new-person-field{
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
}
.add-new-person-field input{
    border-radius: 5px 5px 5px 5px;
    border: 0.5px solid #bfbfbf;
    padding-left: 15px !important;
}
.text-area{
    margin-top: 50px !important;
}
.text-area textarea{    
    border-radius: 5px 5px 5px 5px;
    border: 0.5px solid #bfbfbf;
    padding-left: 15px !important;
}
.upload-btn {
    margin-top: 60px;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    width: 200px;
  }
  .upload-file-wrapr {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  #profile-img{
      margin-top: 60px;
  }
  #inputFile {
      margin-left: 16px;
    width: 200px;
    margin-top: 60px;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .image-preview-container{
      display: flex;
      justify-content: center;

  }
  #image-upload-preview{
      max-width: 150px;
      max-height: 150px;
      
      border: 1px solid black;
  }
  .imag-container{
      margin-top: 100px;
  }
  .submit-btn-container{
      margin-top: 120px;
      display: flex;
      justify-content: center;
  }
  #submit-btn{
    width: 80%;
    height: 100%;
    font-size: 25px;
    padding: 10px;
    border-radius: 8px;
    border: 3px solid #008000;
    background-color: #00b300;
    color: white;
    font-weight: bold;
  }

  /*Styling the search part in BlackList Add New*/
#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 2px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 2px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}
.title{
    font-size: 13px;
}

#myUL li a:hover:not(.header) {
    background-color: #f2f2f2;
}
.search-details-result{
      margin: auto;
      height: 100%;
}
.search-image-result{
    min-height: 100%;
}
.search-image-result img{
      width: 100%;
      max-width: 200px;
      min-width: 100px;
      max-height: 150px;
      min-height: 100px;
      vertical-align: middle;
}
.title{
      font-weight: bold;
}
.search-bar{
    margin-top: 25px;
    padding-top: 20px;
    border: 2px solid #ddd;
    padding-bottom: 20px;
}

/*styling the adding BlackList fields*/
select {
    width: 100px;
    padding: 8px;
    border-radius: 5px;
    border: 0.5px solid #bfbfbf;
    padding-left: 15px !important;
}